# This project was developed by Jaime Rios
# You can contact me at https://github.com/papaponmx
# https://riosjaime.com or hola@riosjaime.com


# JavaScript
'.source.js':
  'Console log':
    'prefix': 'log'
    'body': 'console.log(${1:msg})';


'.source.js':
  'Annonymous function':
    'prefix': 'anfn'
    'body': """(${1:params}) => {
      $2
       }"""

'.source.js':
  'Named function':
    'prefix': 'nfn'
    'body': 'const ${1:functionName} = (${2:params}) => { $3 }'

'.source.js':
  'function':
    'prefix': 'fn'
    'body': """function ${1:functionName} (${2:params}) {
        $3
       }"""

'.source.js':
  'Import snippet':
    'prefix': 'imp'
    'body': """import ${1:ModuleName} from '${2:Module}';"""


'.source.js':
  'Import destructured':
    'prefix': 'imd'
    'body': """import { ${1:destructuredModule} } from '${2:module}'"""

'.source.js':
  'Import Everything':
    'prefix': 'ime'
    'body': """'import * as ${1:alias} from '${2:module}'"""



# React
'.source.js':
  'React Component Snipet':
    'prefix': 'rcc'ﬂ
    'body': """import React, { Component } from 'react';

export default class ${1:componentName} extends Component {
  render() {
    return (
      <div>
        $2
      </div>
    )
  }
}


    """

